.godot/
bin/
/android/
.git/
.idea/
.vs/
publish/
Properties/
packages/
.editorconfig
*.user
Directory.Build.props
/addons
/animations
/banks/desktop
/debug_audio
/fonts
/images
/localization
/models/vfx/vfx_power_up
/materials
/scenes
/shaders
/src
/themes
